.loader {
    padding: 10px;
    text-align: center;
}

.loader_table {
    padding: 20px;
}

.table_loader_center {
    text-align: center;
}

.affix-bottom {
    position: absolute;
}

.cart-service {
    position: relative;
}

.cart-service .remove {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.form-group {
    margin: 0px;
}

.add-service {
    cursor: pointer;
}

/* Tools */
.display-none {
    display: none;
}