<div class="row">
    <div class="col-sm-8">
        {{{ html.table }}}

        {{#if html.datepicker }}
        {{{ html.datepicker }}}
        {{/if}}

        {{#if html.description }}
        {{{ html.description }}}
        {{/if}}
    </div>

    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3>Riepilogo</h3>
            </div>

            <div class="panel-body">
                <div class="withCartContent">
                    <ul class="list-group">
                        <li class="text-warning nothingMessage">Aggiungi servizi e accomadazioni dalla tabella</li>
                    </ul>
                </div>

            </div>

            <div class="panel-footer">
                <div class="col-sm-3 cartTotal">
                    <p>Tot: 0,00</p>
                </div>

                <div class="col-sm-9">
                    <button type="button" class="btn btn-warning pull-right cartEstimateBtn">
                        Richiedi preventivo
                    </button>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="hidden" aria-hidden="true">
        {{#if modal }}
        {{{ modal }}}
        {{/if}}
    </div>
</div>